@page
@model WAD.Pages.MangaLibraryModel
@{
    Layout = "LoggedUser";

}
<link href="~/css/content.css" rel="stylesheet" />

    <form method="post">
        
        <table style="border:solid 2px black; margin-left: 10%;">
            <tr>
                <th>Cover</th>
                <th class="text-content1"><a asp-action="MangaLibrary" asp-route-sortOrder="@ViewData["TitleSort"]">Title⇅</a></th>
                <th class="text-content2"><a asp-action="MangaLibrary" asp-route-sortOrder="@ViewData["AuthorSort"]">Author⇅</a></th>
                <th class="text-content3"><a asp-action="MangaLibrary" asp-route-sortOrder="@ViewData["ReleaseDateSort"]">Release Date⇅</a></th>
                <th>Action</th>
            </tr>

            @foreach (Models.Models.Manga m in Model.Mangas)
            {

                string fullDate = m.ReleaseDate.ToString();
                string legitDate = fullDate.Substring(0, fullDate.IndexOf(' '));
                <tr>
                    <td class="img-container"><img src="@Model.mm.ConvertImage(m.Image)" /></td>
                    <td class="text-content1">@m.Title</td>
                    <td class="text-content2">@m.Author</td>
                    <td class="text-content3">@legitDate</td>
                    <td class="selector"><a asp-page="/ViewManga" asp-route-id="@m.Id">View</a></td>
                    
                </tr>
            }
        </table>
    </form>

