@page
@model WAD.Pages.MangaLibraryModel
@{
    Layout = "LoggedUser";

}
<link href="~/css/content.css" rel="stylesheet" />

    <form method="post">
        
        <table style="border:solid 2px black; margin-left: 10%;">
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Release Date</th>
                <th></th>
            </tr>

            @foreach (Models.Models.Manga m in Model.Mangas)
            {

                string fullDate = m.ReleaseDate.ToString();
                string legitDate = fullDate.Substring(0, fullDate.IndexOf(' '));
                <tr>
                    <td class="img-container"><img src="@Model.mm.ConvertImage(m.Image)" /></td>
                    <td class="text-content">@m.Title</td>
                    <td class="text-content">@m.Author</td>
                    <td class="text-content">@legitDate</td>
                    <td class="text-content"><a asp-page="/ViewManga" asp-route-id="@m.Id">View</a></td>
                    
                </tr>
            }
        </table>
    </form>

