@page
@model WAD.Pages.UserProfileModel
@{
    Layout = "LoggedUser";

}
<link href="~/css/user-profile.css" rel="stylesheet" />
<div class="user-details">

    <form method="post" enctype="multipart/form-data">
        @{
            string picPath = string.Empty;
            if (Model.LoggedUser.Image == null)
            {
                <div style="width: 250px; height: 250px;" class="img-box">
                    <img style="width: 100%; height: 100%" class="profile-img" src="~/img/anonymous-user.jpg" />
                </div>

            }
            else
            {
                picPath = Model.um.ConvertProfileImage(Model.LoggedUser.Image);
                <div style="width: 250px; height: 250px;" class="img-box">
                    <img style="width: 100%; height: 100%" class="profile-img" src="@picPath" />
                </div>
            }
            <p class="alert-danger">@ViewData["ImageMessage"]</p>
        }
        <input id="pic-input" type="file" asp-for="Image" />
        <input class="submit-picture" id="pic-input" type="submit" value="Upload" />
    </form>
    <div class="user-info">
        <h2 class="details-text">Personal details</h2>
        <ul>
            <li>
                <p>Username:</p>
            </li>
            <li>
                <h5>@Model.LoggedUser.Username.ToString()</h5>
            </li>
            <li>
                <p>Email:</p>
            </li>
            <li>
                <h5>@Model.LoggedUser.Email.ToString()</h5>
            </li>
            <li>
                <p>Current Access Rights:</p>
            </li>
            <li>
                <h5>@Model.LoggedUser.Role.ToString()</h5>
            </li>
            <li>
                <p>Member since:</p>
            </li>
            <li>
                <h5>@Model.LoggedUser.RegistrationDate</h5>
            </li>
        </ul>
    </div>
</div>


